html, body {
	margin: 0;
	font: 100% "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #000;
	background: LightGoldenRodYellow;
}
#container {
	margin: 20px auto;
	background: LightGoldenRodYellow;
}
h1 {
	line-height: 50px;
	margin: 0;
	text-align: center;
}
#left {
	width: auto;
	padding: 20px;
	float: left;
	background: LightGoldenRodYellow; 
}
#right {
	padding: 20px;
	overflow: auto;
	background: LightGoldenRodYellow;
}
footer {
	color: #ccc;
	background: LightGoldenRodYellow;
}
h3{
        line-height: 45px;
        margin: 0;
        text-align: left;
}
h4{
	line-height: 30px;
        margin: 0;
        text-align: left;
}
footer p {
	line-height: 45px;
	margin: 0;
	text-align: center;
}

hr {
	margin: 0;
	padding: 0;
}

tr.spaceUnder > td
{
  padding-bottom: 1em;
}
